.cartHandler {
    border: 0.5px solid black;
    left: 350px;
    background-color: white;
    width: max-content;
}

.cartView {
    background-color: lightblue;
    height: 560px;
    margin-top: 10px;
}

.storeView {
    background-color: lightblue;
    height: 560px;
    margin-top: 10px;
}

.loadingDiv {
    margin: 30px;
}

.noProducts {
    margin: 25px;
}