<div class="container">
    <!-- <div class="cartHandler">
        <button (click)="setCartLocation(false)" mat-button> left </button>
        <button (click)="setCartLocation(true)" mat-button> right </button>
    </div> -->
    <div class="row" style="height: 100%;">
        <div style="background-color: aqua;" class="col-4" *ngIf="currentCartID">
            <app-cart [cart_id]="currentCartID"></app-cart>
            <!-- <h1>{{cart|json}}</h1> -->
        </div>
        <div style="background-color: yellow;" class="col-8">
            <app-products-paginator [cart_id]="this.currentCartID" [products]="products" [pageSize]="8"
                [columnSize]="'col-3'">
            </app-products-paginator>
        </div>
    </div>
    <!-- <div *ngIf="cartIsOpen; else elseBlock" class="row">
        <div style="background-color: blue;" class="col-4">
            <h1>{{cart|json}}</h1>
        </div>
        <div style="background-color: yellow;" class="col-8">
            <app-products-paginator [products]="products" [pageSize]="8" [columnSize]="'col-3'">
            </app-products-paginator>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="row">
            <div style="background-color: yellow;" class="col-12">
                <app-products-paginator [products]="products" [pageSize]="12" [columnSize]="'col-2'">
                </app-products-paginator>
            </div>
        </div>
    </ng-template> -->
</div>