<div class="container">
    <!-- <div class="cartHandler">
        <button (click)="setCartLocation(false)" mat-button> left </button>
        <button (click)="setCartLocation(true)" mat-button> right </button>
    </div> -->
    <div class="row" style="height: 100%;">
        <div style="background-color: aqua;" class="col-4" *ngIf="currentCartID">
            <app-cart [cart_id]="currentCartID"></app-cart>
        </div>
        <div style="background-color: yellow;" class="col-8">
            <div class="container">
                <div class="row">
                    <app-categories [selectedCategory]="this.selectedCategory"></app-categories>
                </div>
                <div class="row">
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Search prouduct</mat-label>
                            <input type="text" matInput [formControl]="searchProductFormControl"
                                placeholder="Search product">
                            <button *ngIf="searchProductFormControl.value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="searchProductFormControl.setValue('')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>
                    <!-- <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Search prouduct</mat-label>
                        <input matInput type="text" #searchInp [(ngModel)]="searchProductInput">
                        <button *ngIf="searchProductInput" matSuffix mat-icon-button aria-label="Clear"
                            (click)="searchProductInput=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field> -->
                </div>
                <div class="row" *ngIf="!((products$|async|json)==='[]'); else elseBlock">
                    <app-products-paginator [cart_id]="this.currentCartID" [products]="(products$|async) || []"
                        [pageSize]="8" [columnSize]="'col-3'">
                    </app-products-paginator>
                </div>
                <ng-template #elseBlock>
                    no products to find
                </ng-template>
            </div>

        </div>
    </div>
    <!-- <div *ngIf="cartIsOpen; else elseBlock" class="row">
        <div style="background-color: blue;" class="col-4">
            <h1>{{cart|json}}</h1>
        </div>
        <div style="background-color: yellow;" class="col-8">
            <app-products-paginator [products]="products" [pageSize]="8" [columnSize]="'col-3'">
            </app-products-paginator>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="row">
            <div style="background-color: yellow;" class="col-12">
                <app-products-paginator [products]="products" [pageSize]="12" [columnSize]="'col-2'">
                </app-products-paginator>
            </div>
        </div>
    </ng-template> -->
</div>