<ng-container>
    <mat-grid-list cols="3" gutterSize="20" rowHeight="92%">
        <mat-grid-tile>
            <app-login></app-login>
        </mat-grid-tile>
        <mat-grid-tile>
            <div id="details">
                <h1>welcome to my site ! </h1>
                <h3>here in our store you will have enjoy </h3>
                <h3>high shopping experience</h3>
                <img class="mainImg" src="/assets/shopping_main.jpg" alt="404">
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <div>
                    <h3>num of products: {{this.numberOfProducts}} </h3>
                    <h3>num of orders: {{this.numberOfOrders}} </h3>
                </div>
                <div>
                    <img class="secondaryImg" src="/assets/shopping_main.jpg" alt="404">
                </div>
                <div class="topConteiner" *ngIf="this.isUserLoggedIn">
                    <div *ngIf="this.userStatus === 0 ">
                        <p>Welcome to your first shopping</p>
                        <button mat-button>Start shopping</button>
                    </div>
                    <div *ngIf="this.userStatus === 1 ">
                        <button mat-button>Welcome Back! Start shopping</button>
                        <p>your last purchase - 1670$</p>
                    </div>
                    <div *ngIf="this.userStatus === 2 ">
                        <p>you have an open cart ! </p>
                        <p>current cart - 1560$</p>
                        <button mat-button>Continue shopping current cart</button>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</ng-container>