<ng-container>
    <mat-grid-list cols="3" gutterSize="20" rowHeight="92%">
        <mat-grid-tile>
            <app-login (isLoggedInEvent)="isLogged($event)"></app-login>
        </mat-grid-tile>
        <mat-grid-tile>
            <div id="details">
                <h1>welcome to my site ! </h1>
                <h3>here in our store you will have enjoy </h3>
                <h3>high shopping experience</h3>
                <img class="mainImg" src="/assets/shopping_main.jpg" alt="404">
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <div class="topConteiner" *ngIf="this.isUserLoggedIn">
                    <div *ngIf="!this.currentCartID">
                        <p>Welcome!</p>
                        <button (click)="navigateToShopping()" mat-raised-button color="primary">Start shopping</button>
                    </div>
                    <div *ngIf="this.currentCartID && !(total_cart_price$|async) ">
                        <p>Welcome Back!</p>
                        <button (click)="navigateToShopping()" mat-raised-button color="primary">Start shopping</button>
                    </div>
                    <div *ngIf="this.currentCartID && (total_cart_price$|async) ">
                        <p>Welcome Back! you have open cart</p>
                        <p>your current cart total of {{total_cart_price$|async|currency}} </p>
                        <button (click)="navigateToShopping()" mat-raised-button color="primary">Continue
                            shopping</button>
                    </div>
                </div>
                <div>
                    <img class="secondaryImg" src="/assets/shopping_main.jpg" alt="404">
                </div>
                <div class="bottomDiv" *ngIf="this.numberOfProducts && this.numberOfOrders; else elseBlock">
                    <h3>number of products available: {{this.numberOfProducts}} </h3>
                    <h3>number of orders: {{this.numberOfOrders}} </h3>
                </div>
                <ng-template #elseBlock>
                    <div class="bottomDiv">
                        <h3>log in to see more details about our store !!</h3>
                    </div>
                </ng-template>

            </div>
        </mat-grid-tile>
    </mat-grid-list>
</ng-container>