<mat-toolbar color="primary">
    <div class="example-nav">
        <button routerLink="home" mat-button>Home</button>
    </div>
    <div class="example-nav">
        <button routerLink="shopping" mat-button>Shopping</button>
    </div>
    <span class="example-spacer"></span>
    <div *ngIf="current_user" class="example-nav">
        <span>Hello {{current_user | titlecase}}</span>
    </div>
    <div class="example-nav">
        <span>connect to us - email sopping@gmail.com</span>
    </div>
</mat-toolbar>