.card {
    width: 9rem;
    height: 200px;
    margin: 6px;
    box-sizing: border-box;
    background-color: inherit;
}

.card-img-top {
    padding: 5px;
    height: 100px;
}

.card-text {
    margin-bottom: 0 !important;
}

.card-body {
    padding: 0 14px;
}

.addedToCart {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.addedToCart button {
    min-width: 30px;
    text-align: center;
    padding: inherit;
}